@page
@model ErrorModel
@{
}

<div class="container">
    <h1 class="text-center">401 Unauthorized</h1>
    <p class="text-center">You do not have permission to access this resource!</p>
    <p class="text-center"><a class="btn btn-primary" href="javascript:history.back()">Back to previous page</a></p>
</div>